<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
 
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">papergirls&amp;rails.</a>
            <ul class="nav">
                <li class="active"><a href="/ideas">rails学習日記</a></li>
            </ul>
            <span class="navbar-text">
            <%= link_to "Login",signin_path %>
            </span>
            <span class="navbar-text pull-right">
              <% if signed_in? %>
              Logged in as
              <%= current_user.name %> 
              <%= link_to "Sign out",signout_path,method:"delete" %>
              <% end %>
            </span>
          
        </div>
    </div>
</div>

<div class="container">
<%= yield %>
</div>
<br />
<footer>
    <div class="container">
        Rails Girls 2012
    </div>
</footer>

</body>
</html>
